#calendar-box {
    font-family: sans-serif;
}
#table-nc {
    text-align: center;
    margin: 3px;
}
#table-c {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
#table-c tr, #table-c td, #table-c th {
    padding: 3px;
    border: 1px solid #ddd !important;
    text-align: center !important;
}
#table-c th {
    font-weight: bold;
}
#table-c td:hover {
    background-color: #BBC7D3;
    cursor:pointer;
}
.today {
    background-color: #FF9900;
}
.other {
    background-color: #eee;
}
.linked {
    background-color: #6599FF;
}
.linked a {
    color: white;
}